@import '../styles/index.less';

.checkbox-content-tree {
  height: calc(100% - 31px);
  background: #fff;
  padding: 0 6px 16px 16px;

  .ant-checkbox-wrapper {
    width: 100%;
    margin: 12px 0;
  }
}
